.pfp-class{
    padding-top: 1%;
    margin-left: 12%;
}
.pfp{
    border-radius: 90%;
}
.intro-text{
    font-weight: lighter;
    padding: 2%;
    margin-right: 1%;
}
.desc-text{
    padding: 2%;
    font-size: large;
}
.social-media{
    font-size: 30px;
    text-decoration: none;
    margin-left: 5%;
}
.skill{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.intrest{
    padding: 2%;
}
.intrest-div{
    display: flex;
    flex-direction: column;
}
.form{
    margin-left: 1%;
}
.btn{
    margin-left: 70%;
}
.url:visited{
    color: black;
}
.url:link{
    color:black;
}
html {
    scroll-behavior: smooth;
}
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 925px) {
    .pfp-class{
        margin-left: 2%;
        float: left;
    }
    .intro-text{
        float: left;
        padding-left: 2%;
        width: 70%;
    }
    .social-media{
        margin-left: 2%;
    }
    .skill{
        margin-left: 2%;
    }
    .intrest-div{
        flex-direction: row;
        align-items: center;
        justify-content:space-evenly;
    }
    .intrest{
        padding: 2%;
        width: auto;
    }
    .form{
        margin-left: 3%;
        width: 60%;
    }
    .btn{
        margin-left: 85%;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .intrest{
        padding: 1%;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(255,255,255,0.3);
    -webkit-box-shadow: inset 0 0 6px rgba(255,255,255,0.3);
    border-radius: 3px;
}

::-webkit-scrollbar-thumb {
    border-radius: 3px;
    background: rgba(175, 255, 110, 0.5);
}

::-webkit-scrollbar-thumb:hover {
    background : rgb(59, 121, 2);
}