.noto-serif-bengali {
    font-family: "Noto Serif Bengali", serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
    font-variation-settings: "wdth" 100;
}
.top {
    padding-top: 2em;
}
.name {
    background: #c6ffdd; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #ff0000, #ffc107);
    background: linear-gradient(90deg, #ff0000, #ffc107);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}
.emf {
    background: #06beb6; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #36d1dc, #5b86e5);
    background: linear-gradient(90deg, #36d1dc, #5b86e5);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}

.page-1 {
    background-image: url("/assets/durga-mobile.webp");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: right top;
    background-size: 30%;
    height: 100vh;
}

.waving-hand {
    font-size: 4em;
}

.social-media {
    font-size: 35px;
    text-decoration: none;
    margin-left: 5%;
    display: flex;
}

.social-media-icon {
    margin-right: 0.5em;
}

.main-intro {
    height: 5em;
    font-size: 2.5em;
}

.lis-item {
    padding-bottom: 0.5%;
}

.page-2 {
    display: flex;
    justify-content: center;
}

.emoji {
    height: 30px;
    width: 30px;
}

.uil {
    color: black;
    padding-left: 1%;
}

[data-theme="dark"],
.uil {
    color: white;
}
@media all and (min-width: 960px) {
    .page-1 {
        background-image: url("/assets/durga.webp");
    }
    ::-webkit-scrollbar {
        height: 50px;
        width: 5px;
        background: #000;
    }

    ::-webkit-scrollbar-thumb {
        background: #4a4a4a;
        -webkit-border-radius: 1ex;
        -webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
    }
    .social-media-icon:hover {
        color: #a8b8d0;
        transition: color 0.3s ease;
    }
}
@media all and (min-width: 0px) and (max-width: 959px) {
    /* Tablets and stuff. Disable excessive padding */
    .hello {
        font-size: 3em;
    }
    .social-media {
        font-size: 30px;
        margin: 0%;
        width: 100%;
        justify-content: center;
    }
    .social-media-icon {
        margin: 2vh;
        padding-right: 2vh;
    }
    .top {
        padding-top: 0em;
    }
    .page-1 {
        background-size: 100%;
    }
    .page-2 {
        flex-direction: column;
    }
    .uil {
        padding-left: 10%;
        font-size: 40px;
    }
    .main-intro {
        height: 8em;
        font-size: 2em;
    }
}
